html{
    background-color: lightsteelblue;
}

body{
    padding-top: 3rem;
    padding-right: 7rem;
    padding-left: 7rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

h1{
    font-size: 3rem;
    text-align: center;
}

h4{
    text-decoration: underline;

}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}